.idea
.DS_Store
foo/
cache/
.packages
packages/
pubspec.lock
build/
.buildlog
.pub
.settings/
lib/templates/master/config/
lib/templates/master/web/application/
lib/templates/master/web/assets/
lib/templates/master/web/admin_assets/
lib/templates/master/web/config/
lib/templates/master/web/mysql/